<thead>
    <tr>
    <th scope="col" class="px-6 py-4 text-start text-xs font-bold text-white">ID</th>
    <th scope="col" class="px-6 py-4 text-center text-xs font-bold text-white uppercase">Date</th>
    <th scope="col" class="px-6 py-4 text-center text-xs font-bold text-white uppercase">Time</th>
    <th scope="col" class="px-6 py-4 text-center text-xs font-bold text-white uppercase hidden sm:table-cell">Cam</th>
    <th scope="col" class="px-6 py-4 text-center text-xs font-bold text-white uppercase">Action</th>
    </tr>
</thead>
<tbody class="divide-y divide-gray-200">
    @for (item of paginatedItems; track item.id) {
        <tr table-row [item]="item"></tr>
    }
    @empty {
        <tr></tr>
    }
</tbody>